{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center my-3">
            <div class="col-md-3 bg-primary">
                <h2 class="text-light text-center">Greate opportunity to have a deal with You</h2>
                <p class="text-light ">
                    Provide a services to our valid users by selling your products.
                </p>
                <img src="{% static 'logicon.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-3 justify-content-center">
                <div class="card h-100">
                    <form class="m-2" method="post" action="ssignup">
                        {% csrf_token %}
                        <div class="form-group m-2">
                          <label for="name">Name</label>
                          <br>
                            {{ form.username }}
                        </div>
                      <div class="form-group m-2">
                          <label for="email">Email address</label>
                            {{ form.email }}
                      </div>
                        <div class="form-group m-2">
                          <label for="password">Password</label>
                        {{ form.password1 }}
                        </div>
                      <div class="form-group m-2">
                          <label for="password">Confirm Password</label>
                        {{ form.password2 }}
                        </div>
                         <p>By continuing, you agree to Flipkart's <a href="{% url 'condition' %}"> Terms</a> of Use and <a href="{% url 'privacy' %}">Privacy Policy.</a></p>
                      <button type="submit" class="btn btn-primary px-5">Submit</button>
                      </form>
                    <p align="center" class="mt-2">Existing user <a href="{% url 'login' %}">login</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}